@keyframes typing {
  from {
    width: 50%;
  }
  to {
    width: 100%;
  }
}


.responseContainer {
  width: 60%;
  margin: 20px auto;
  padding: 20px;
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  overflow-x: auto; /* Add this line */
  overflow-y: visible; /* Add this line */
  max-height: 70vh;
  max-width: 50vw;
}


.message {
  margin: 10px 0;
  padding: 30px;
  border-radius: 0px;
  border-bottom: 0.1px solid rgba(255, 215, 0, 0.15);
  animation: typing 1.5s steps(100,end) forwards;
  height: auto;
  max-width: 100%;
  overflow-wrap: break-word;
}

.user {
  background-color: transparent;
  color: #fff;
}

.bot {
  background-color: transparent;
  color: #fff;
}