.belto { /*belto text properties */
    display: flex;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    flex-shrink: 0;
    height: auto;
    width: 80%;
    right: 0;
    bottom: 4%;
    width: fit-content; 
    margin-left: 20px;
}

