.Chatbox {
    position: absolute;
    left: 26.4%;
    top: 40%;
    width: 46%;
    height: fit-content;
    border-radius: 16px;
    background-color: var(--color-gray-200);
    border: 2px solid var(--color-dimgray);
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    align-items: center;
    padding: 3px;
    z-index: 10;
    margin-top: 30px;
    justify-content: center;
  } 

  .ChatboxBottom {
    display: flex;
    position: fixed;
    top: 85%;
  }

 