.Paperclipbutton {
cursor: pointer;
border: none;
padding: 1px;
margin-left: 3px;
background-color: transparent;
}
.Paperclip {
background-color: transparent;
left: 0px;
position: fixed;
top: 15px;
width: 12px;
height: 12px;
overflow: hidden;
display: flex;
}