.chatbox-container {
    position: relative; /* Ensure the container is positioned */
}

.Submitbutton {
    cursor: pointer;
    border: none;
    padding: 4px;
    margin-left: auto;
    background-color: var(--color-dimgray);
    border-radius: 6px;
    display: flex;
    object-fit: contain;
    justify-content: center;
    position: fixed; /* Position fixed */
    z-index: 1000; /* Ensure it is above other elements */
    right: 58.1vh;
}

.Submit { 
    display: flex;
    align-items: center;
    justify-content: center;    
}

.Submitbutton:hover {
    background-color: var(--color-gold);
}