.belto { /*belto text properties */
    display: flex;
    margin-right: 4px;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    flex-shrink: 0;
    height: auto;
    width: 80%;
    right: 4vw;
    top: 8.7vh;
    width: fit-content; 
    margin-top: 5px;
}