.sidebar {
  position: fixed; /* Make the sidebar fixed position */
  width: 15%; /* Set the width to 15% of the screen width */
  height: 100vh; /* Make it full height */
  transform: translateX(-100%); /* Move it off the screen */
  transition: transform 0.2s ease-out; /* Animate the transform */
  overflow: hidden;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}
  
  .sidebarOpen {
    background-color: var(--color-gray-100); /* Set the background color to grey */
    overflow: hidden;
    z-index: 101;
    height: 100%;
    width: 12%;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    transition: transform 0.325s ease-in; /* Animate the transform */
    padding-top: 40px;
  }
  .closeButton {
    position: fixed;
    left: 13vw; /* Adjust as needed */
    top: 47vh;
    border: 0;
    padding-right: 2px;
    padding-left: 2px;
    padding-top: 1px;
    transform: 0.5s ease-in, opacity 0.5s ease-in;
    background-color: transparent;

  }

  .Line { 
    position: relative;
    top: 50%;
    margin-bottom: 10px;
  }
  .optionContainer {
    padding: 9px;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 7px;
    margin-right: 7px;
    background-color: var(--color-gray-500);
    border-radius: 10px;
    border: 2px solid var(--color-gray-400);
  }
  .dashboardContainer {
    padding: 9px;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 7px;
    margin-right: 7px;
    background-color: var(--color-gray-500);
    border-radius: 10px;
    border: 2px solid var(--color-gray-400);
  }
  .usernameContainer {
    padding: 9px;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 7px;
    margin-right: 7px;
    background-color: var(--color-gray-500);
    border-radius: 10px;
    border: 2px solid var(--color-gray-400);
  }
  .lowerContent {
    margin-top: 46vh;
  }
  .addButton {
      background-color: var(--color-gray-500); /* Green */
      border: none;
      color: white;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      cursor: pointer;
      justify-content: center;

  }
  .addButtonContainer {
    padding: 9px;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 7px;
    margin-right: 7px;
    background-color: var(--color-gray-500);
    border-radius: 10px;
    border: 2px solid var(--color-gray-400);
    justify-content: center;
    align-items: center;
    display: flex;
  }