.sidebar {
  position: fixed; /* Make the sidebar fixed position */
  top: 0; /* Align to the top */
  left: 0; /* Align to the left */
  width: 15%; /* Set the width to 15% of the screen width */
  height: 100vh; /* Make it full height */
  transform: translateX(-100%); /* Move it off the screen */
  transition: transform 0.3s ease-out; /* Animate the transform */
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  display: flex;
}
  
  .sidebarOpen {
    background-color: var(--color-gray-100); /* Set the background color to grey */
    overflow: hidden;
    z-index: 101;
    height: 100%;
    width: 12%;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    transition: transform 0.4s ease-in; /* Animate the transform */
  }

  .closeButton {
    position: absolute;
    left: 11.5vw; /* Adjust as needed */
    top: 46%;
    transform: translateY(90%);
    color: var(--color-gray-100);
    border: 0;
    padding-right: 2px;
    padding-left: 2px;
    padding-top: 1px;
  }
  .Line { 
    position: relative;
    top: 78%;   
  }