.ToolDropdown { /* dropdown position */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-gray-300);
    width: auto;
    height: auto;
  }
