.Chatbox {
    position: absolute;
    left: 28.2%;
    top: 40%;
    width: 44%;
    height: 5.55vh  ;
    border-radius: 16px;
    background-color: var(--color-gray-200);
    border: 2px solid var(--color-dimgray);
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 10px;
    z-index: 10;
    margin-top: 55px;
  } 

  .ChatboxBottom {
    position: fixed;
    top: 84%;
  }
