.beltologo {
    margin: 0;
    position: sticky;
    right: 10vw;
    width: 8.7vw;   /* Logo width as a percentage of the viewport width */
    height: 19vh; /* Fixed height for the logo */
    top: 16vh;
    object-fit: cover; /* Ensures the image covers the area of the box without distorting its aspect ratio */
  }