.Chatbox {
    position: relative;
    left: 28%;
    top: 10vh;
    width: 48%;
    height: 5.55vh  ;
    border-radius: 14px;
    background-color: var(--color-gray-200);
    border: 2px solid var(--color-dimgray);
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 10px;
    z-index: 10;
  }