.Chatbox {
    position: relative;
    left: 28%;
    top: 40%;
    width: 43%;
    height: 5.55vh  ;
    border-radius: 16px;
    background-color: var(--color-gray-200);
    border: 2px solid var(--color-dimgray);
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 10px;
    z-index: 10;
  } 

  .ChatboxBottom {
    position: fixed;
    top: 90%;
  }
